<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'books/list', book: @books, user: @user %>
		</div>

		<div class="col-xs-9">
			<h3>Book detail</h3>
			<table class="table table-striped">
				<tbody>
					<tr>
					<td>
			<%= attachment_image_tag @book.user, :profile_image, class: "user-image", fallback: "no_image.jpg", size: "40x40" %>
              <p><%= link_to  user_path(@user.id) do %>
              <%= @user.name %></p>
              <% end %>
                    </td>
					<td>
						<%= link_to @book.title,@book %>
					</td>
					<td>
					  <%= @book.body %>
					</td>
					<% if @book.user_id == current_user.id %>
					<td><%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
					<td>
              <%= render 'favorites/favorites', book: @book %>
            　　　</td>
                <td>
              コメント数:<%= @book.book_comments.count %>
            </td>
        </tr>
            <table>
              <% @book.book_comments.each do |book_comment| %>
              <tr>
              <td>
                <%= attachment_image_tag @book_id, :profile_image, class: "user-image", fallback: "no_image.jpg", size: "60x60" %>
                <p><%= book_comment.user.name %></p>
            </td>
            <td>
              	<%= book_comment.comment %>
              <% if book_comment.user == current_user%>
          </td>
          <td>
  　　　　　　　<div>
  　　　　　　　　　　<%= link_to "Destroy",book_book_comment_path(@book, book_comment), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{book_comment.id}" %>
  　　　　　　　　</div>
              </td>
          </tr>
　　　　　　　<% end %>
            <% end %>
            </table>
            <%= form_for [@book, @book_comment] do |f| %>
            <%= f.text_area :comment, rows:'5', class: "col-xs-10 comment-form" %>
		　　<%= f.submit "送信", class: "btn btn-default btn-sm btn-base-1 pull-left" %>
            <% end %>
		</div>
	</tbody>
</table>
</div>



